<!--template for our page-->
<html>
    <head>
        <title>Stocks</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <style>
          .bullish {background: green; color: white;}
          .bearish {background: red; color: white;}
        </style>
    </head>
    <div class="ui secondary pointing menu">
      <a href="/" class="item {% if request.path == '/' %}active{% endif %}">
        Stocks
      </a>
      <a href="/strategies" class="item {% if request.path == '/strategies' %}active{% endif %}">
        Strategies
      </a>
      <a href="/orders" class="item {% if request.path == '/orders' %}active{% endif %}">
        Order History
      </a>
      <a href="/watchlists" class="item {% if request.path == '/watchlists' %}active{% endif %}">
        Watchlists
      </a>
      <a href="/candlesticks" class="item {% if request.path == '/candlesticks' %}active{% endif %}">
        Candlestick Screener
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
    <body>
        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>