

<table class="ui selectable striped table">
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td><a href='/stock/{{row.id}}'><i class='list icon'></i></a></td>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
            
            <td><a href='/delete-from-watchlist-redirect-wl/{{watchlist[0].id}}/{{row.id}}'><i class='clipboard icon'></i></a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
